.navbar{
    background: transparent;
    font-size: 0.7rem;
    justify-content: space-between;


    .toolbar-link{
        padding: 1em;
        font-size: 0.7rem;

        a{
            text-align: center;
        }
    }
}